Django==1.6.6
Fabric==1.10.0
MySQL-python==1.2.5
Pillow==2.6.0
South==1.0
Unidecode==0.04.16
argparse==1.2.1
django-allauth==0.18.0
django-facebook==6.0.1
django-social-auth==0.7.28
-e git://github.com/pythonforfacebook/facebook-sdk.git@9fa98800cbd3db31898093270c8d41dd3c89698e#egg=facebook_sdk-master
facepy==1.0.3
fbconsole==0.3
google-api-python-client==1.2
httplib2==0.9
ipdb==0.8
ipython==2.3.0
mock==1.0.1
nose==1.3.4
oauth2==1.5.211
oauthlib==0.6.3
paramiko==1.15.0
pep8==1.5.7
poster==0.8.1
pyfacebook==1.0a2.1
pyfb==0.4.3
python-openid==2.2.5
pytz==2014.7
requests==2.3.0
requests-oauthlib==0.4.1
simplejson==3.6.3
six==1.8.0
wsgiref==0.1.2
